{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title></title>
  <link rel="stylesheet" href="{% static './bootstrap_5.1.3/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static './styles/headerStyles.css' %}">
  <link rel="stylesheet" href="{% static './styles/sectionStyles.css' %}">
  <link rel="stylesheet" href="{% static './styles/footerStyles.css' %}">
  <link rel="stylesheet" href="{% static './styles/responsive.css' %}">
  <link rel="stylesheet" href="{% static './styles/registroUsuarioStyles.css' %}">
  <link rel="stylesheet" href="{% static './styles/pedirCurpStyles.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/47075525b8.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="contenedorPrincipal">
    <header>
      <nav class="navbarOriginal">
        <div class="navbarElements">
          <!-- IZAQUIERDA -->
          <div class="izquierda">
            <img src="{% static './imagenes/pleca-gob.png' %}" alt=" Pleca de Gobierno " class="plecaGob" />
            <img src="{% static './imagenes/pleca-ipn.png' %}" alt=" Logo IPN " class="plecaIpn" />
            <a href="https://www.ipn.mx">
              <p class="tituloPleca">
                Instituto Politécnico Nacional
                <br />
                <span>"La Técnica al Servicio de la Patria"</span>
              </p>
            </a>
          </div>
          <!-- DERECHA -->
          <div class="derecha">
            <a href="https://www.ipn.mx/directorio.html" class="elementoDerecha">DIRECTORIO</a>
            <a href="https://www.ipn.mx/correo-electronico.html" class="elementoDerecha">CORREO ELECTRÓNICO</a>
            <a href="https://www.ipn.mx/calendario-academico.html" class="elementoDerecha">CALENDARIO</a>
            <a href="https://www.ipn.mx/buzon.html" class="elementoDerecha">BUZÓN</a>
          </div>
        </div>
      </nav>
    </header>

    <section>
      {% block body %}

      {% endblock %}
    </section>

    <footer>
      <div class="footer1">
        <h3 class=""> INSTITUTO POLITÉCNICO NACIONAL </h3>
        <p class="">
          D.R. Instituto Politécnico Nacional (IPN). Av. Luis Enrique Erro S/N,
          Unidad Profesional Adolfo López Mateos, Zacatenco, Alcaldía Gustavo A.
          Madero, C.P. 07738, Ciudad de México, 2019. Conmutador: 55 57 29 60 00
          / 55 57 29 63 00.
        </p>
        <p class="">
          Esta página es una obra intelectual protegida por la Ley Federal del
          Derecho de Autor, puede ser reproducida con fines no lucrativos,
          siempre y cuando no se mutile, se cite la fuente completa y su
          dirección electrónica; su uso para otros fines, requiere autorización
          previa y por escrito de la Dirección General del Instituto.
        </p>
        <img id="imagen" class="footer1Imagen" src="{% static './imagenes/pleca-educacion.png' %}" />
      </div>
      <div class="footer2"></div>
      <div class="footer3">
        <table>
          <tr>
            <td class="" align="left" valign="middle">
              <h5>Enlaces</h5>
            </td>
            <td class="" align="left" valign="middle">
              <h5>¿Qué es gob.mx?</h5>
            </td>
            <td class="" align="left" valign="middle">
              <h5>Contacto</h5>
            </td>
          </tr>
          <tr>
            <td class="" align="left" valign="top">
              <a href="https://www.gob.mx/accesibilidad" target="_blank">Declaración de Accesibilidad</a>
              <br />
              <a href="https://www.gob.mx/privacidad" target="_blank">Política de privacidad</a>
              <br />
              <a href="https://www.gob.mx/terminos" target="_blank">Términos y Condiciones</a>
              <br />
              <a href="http://www.ordenjuridico.gob.mx" target="_blank">Marco Jurídico</a>
              <br />
              <a href="http://portaltransparencia.gob.mx" target="_blank">Portal de Obligaciones de Transparencia</a>
              <br />
              <a href="https://www.infomex.org.mx/gobiernofederal/home.action" target="_blank">Sistema Infomex</a>
              <br />
              <a href="http://inicio.ifai.org.mx/SitePages/ifai.aspx" target="_blank">INAI</a>
              <br />
              <a href="https://www.gob.mx/sitemap">Mapa de sitio</a>
            </td>
            <td class="" align="left" valign="top">
              <p>
                Es el portal único de trámites, información y participación <br /> ciudadana.
                <a href="https://www.gob.mx/que-es-gobmx" class="">Leer más</a>
              </p>
              <br />
              <a href="https://www.gob.mx/en/index" target="_blank">English</a>
              <br />
              <a href="https://www.gob.mx/temas" target="_blank">Temas</a>
              <br />
              <a href="http://reformas.gob.mx" target="_blank">Reformas</a>
            </td>
            <td class="" align="left" valign="top">
              <p>
                Mesa de ayuda: dudas e información
                <br />
                gobmx@funcionpublica.gob.mx
              </p>
              <p>
                <a href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54"
                  class="">Denuncia contra servidores públicos</a>
              </p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="">
              <h5>Síguenos en</h5>
              <a href="https://www.facebook.com/gobmx" aria-label="Facebook de presidencia" target="_blank"><i
                  class="fa-brands fa-square-facebook fa-3x"></i></a>
              <a href="https://twitter.com/gobmx" aria-label="Twitter de presidencia" target="_blank"><i
                  class="fa-brands fa-square-twitter fa-3x"></i></a>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </footer>


  </div>



  <script type="text/javascript" src="{% static './jquery/jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static './bootstrap_5.1.3/js/bootstrap.min.js' %}"></script>
</body>

</html>