{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href = "{% static './bootstrap_5.1.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href = "{% static './css/headerStyles.css' %}">
    <link rel="stylesheet" href = "{% static './css/footerStyles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47075525b8.js" crossorigin="anonymous"></script>

  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid ">
        
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <img src="{% static './imagenes/pleca-gob.png' %}" alt=" Pleca de Gobierno " class="" width="270" height="50"/>
              </li>
              <li class="nav-item">
                <a href="https://www.ipn.mx" class="">
                  <img src="{% static './imagenes/pleca-ipn.png' %}" alt=" Logo IPN " class="" width="30" height="50"/>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://www.ipn.mx">
                  <p class="d-inline-block tituloLogo">
                    Instituto Politécnico Nacional
                    <br />
                    <span>"La Técnica al Servicio de la Patria"</span>
                  </p>
                </a>
              </li>
              <li class="nav-item ms-5 my-3">
                <a href="https://www.ipn.mx/directorio.html" class="ms-5 text-dark">DIRECTORIO</a>
              </li>
              <li class="nav-item ms-5 my-3">
                <a href="https://www.ipn.mx/correo-electronico.html" class="text-dark">CORREO ELECTRÓNICO</a>
              </li>
              <li class="nav-item ms-5 my-3">
                <a href="https://www.ipn.mx/calendario-academico.html" class="text-dark">CALENDARIO</a>
              </li>
              <li class="nav-item ms-5 my-3">
                <a href="https://www.ipn.mx/buzon.html" class="text-dark">BUZÓN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Contestar Encuesta</button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresa tu CURP</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'Registro_Usuario' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">CURP:</label>
                  {% if messages %} 
                  <input type="text" class="form-control" id="recipient-name" name="curp" value="{{ value }}">
                </div>
                <!-- -->
                      
                  {{ error }}
                {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" >Enviar</button>
            </div>
              </form>
    </section>
    <footer>
      <div class="col-12 text-justify text-light back-color py-3">
        <h3 class="footerTitulo text-center mt-4"> INSTITUTO POLITÉCNICO NACIONAL </h3>
        <p class="margen-x">
            D.R. Instituto Politécnico Nacional (IPN). Av. Luis Enrique Erro S/N,
            Unidad Profesional Adolfo López Mateos, Zacatenco, Alcaldía Gustavo A.
            Madero, C.P. 07738, Ciudad de México, 2019. Conmutador: 55 57 29 60 00
            / 55 57 29 63 00.
        </p>
        <br />
        <p class="margen-x">
            Esta página es una obra intelectual protegida por la Ley Federal del
            Derecho de Autor, puede ser reproducida con fines no lucrativos,
            siempre y cuando no se mutile, se cite la fuente completa y su
            dirección electrónica; su uso para otros fines, requiere autorización
            previa y por escrito de la Dirección General del Instituto.
        </p>
        <img id="imagen" class="margen-x" src="{% static './imagenes/pleca-educacion.png' %}" />
      </div>
      <div class="footerEspacio"></div>
      <div class="col-12 py-3 back-footer-color">
        <div class="row justify-content-center">
          <div class="col-auto">
            <table class="table table-borderless mx-auto d-block">
              <tr >
                <td class="pb-3" style="width: 400px"><h5>Enlaces</h5></td>
                <td class="pb-3" style="width: 450px"><h5>¿Qué es gob.mx?</h5></td>
                <td class="pb-3" style="width: 400px"><h5>Contacto</h5></td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.gob.mx/accesibilidad" target="_blank">Declaración de Accesibilidad</a>
                  <br/>
                  <a href="https://www.gob.mx/privacidad" target="_blank">Política de privacidad</a>
                  <br/>
                  <a href="https://www.gob.mx/terminos" target="_blank" >Términos y Condiciones</a>
                  <br/>
                  <a href="http://www.ordenjuridico.gob.mx" target="_blank">Marco Jurídico</a>
                  <br/>
                  <a href="http://portaltransparencia.gob.mx" target="_blank">Portal de Obligaciones de Transparencia</a>
                  <br/>
                  <a href="https://www.infomex.org.mx/gobiernofederal/home.action" target="_blank">Sistema Infomex</a>
                  <br/>
                  <a href="http://inicio.ifai.org.mx/SitePages/ifai.aspx" target="_blank">INAI</a>
                  <br/>
                  <a href="https://www.gob.mx/sitemap">Mapa de sitio</a>
                </td>
                <td class="pt-0">
                  <p>
                    Es el portal único de trámites, información y participación <br/> ciudadana.
                    <a href="https://www.gob.mx/que-es-gobmx" class="gb-footer-link-underline">Leer más</a>
                  </p>
                  <br/>
                  <a href="https://www.gob.mx/en/index" target="_blank">English</a>
                  <br/>
                  <a href="https://www.gob.mx/temas" target="_blank">Temas</a>
                  <br/>
                  <a href="http://reformas.gob.mx" target="_blank">Reformas</a>
                </td>
                <td class="pt-0">
                  <p>
                    Mesa de ayuda: dudas e información
                    <br />
                    gobmx@funcionpublica.gob.mx
                  </p>
                  <p>
                    <a href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54"
                        class="">Denuncia contra servidores públicos</a>
                  </p>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="pt-5">
                  <h5>Síguenos en</h5>
                  <a href="https://www.facebook.com/gobmx" aria-label="Facebook de presidencia" target="_blank"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
                  <a href="https://twitter.com/gobmx" aria-label="Twitter de presidencia" target="_blank"><i class="fa-brands fa-square-twitter fa-3x"></i></a>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <img class="img-gob-footer" src="https://framework-gb.cdn.gob.mx/assets/images/gobmxlogo-2.svg" alt="Página de inicio, Gobierno de México" width="126" height="39" />
      </div>
    </footer>
    <script type="text/javascript" src="{% static './jquery/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static './bootstrap_5.1.3/js/bootstrap.min.js' %}"></script>
    <script>
      var myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
document.onreadystatechange = function () {
myModal.show();
};
  </script>
  </body>
</html>