{% extends 'footerAndHeader.html' %}


{% block body %}
<form action="{% url 'Guardar_Usuario' %}" method="POST" class="row g-3 needs-validation" novalidate>
  {% csrf_token %}
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Nombre</label>
      <input type="text" class="form-control is-valid" id="validationCustom01" value="{{ nombres }}" name="nombres" required readonly>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        !Mal!.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Apellido Paterno</label>
      <input type="text" class="form-control is-valid" id="validationCustom02" value="{{ ap_paterno }}" name="apellido1" required readonly>
      <div class="valid-feedback">
        ¡Se ve bien!
      </div>
      <div class="invalid-feedback">
        !Mal!.      
      </div>
    </div>

    <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Apellido Materno</label>
        <input type="text" class="form-control is-valid" id="validationCustom02" value="{{ ap_materno }}" name="apellido2" required readonly>
        <div class="valid-feedback">
          ¡Se ve bien!
        </div>
        <div class="invalid-feedback">
          !Mal!.
        </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">CURP</label>
      <input type="text" class="form-control is-valid" id="validationCustom01" value="{{ curp }}" name="curp" required readonly>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        !Mal!.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Edad</label>
      <select class="form-select" id="validationCustom04" name="edad" required>
        <option selected disabled value="">Elige...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
      </select>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        Selecciona un estado válido.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Sexo</label>
      <select class="form-select" id="validationCustom04" name="sexo" required>
        <option selected disabled value="">Elige...</option>
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        Selecciona un estado válido.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Estado Civil</label>
      <select class="form-select" id="validationCustom04" name="estado_civil" required>
        <option selected disabled value="">Elige...</option>
        <option value="Soltero">Soltero</option>
        <option value="Casado">Casado</option>
        <option value="Divorciado">Divorciado</option>
      </select>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        Selecciona un estado válido.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Email</label>
      <input type="email" class="form-control" id="validationCustom01" name="email" required>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        !Ej: nombre@correo.com!.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Teléfono</label>
      <input type="tel" class="form-control" id="validationCustom01" name="telefono" pattern="[0-9]*" inputmode="numeric" required>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        !Ej: 5512345678!.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">País</label>
      <select class="form-select" id="validationCustom04" name="pais" required>
        <option selected disabled value="">Elige...</option>
        <option value="México">México</option>
        <option value="Argentina">Argentina</option>
        <option value="Brasil">Brasil</option>
      </select>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        Selecciona un país válido.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Código Postal</label>
      <input type="tel" class="form-control" id="validationCustom01" name="codigo_postal" pattern="[0-9]*" inputmode="numeric" required>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        !Ej: 01234!.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Entidad Federativa</label>
      <select class="form-select" id="validationCustom04" name="entidad_federativa" required>
        <option selected disabled value="">Elige...</option>
        <option value="CDMX">CDMX</option>
        <option value="Estado de México">Estado de México</option>
        <option value="Puebla">Puebla</option>
      </select>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        Selecciona una Entidad Federativa válida.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Alcaldía o Municipio</label>
      <select class="form-select" id="validationCustom04" name="alcaldia_municipio" required>
        <option selected disabled value="">Elige...</option>
        <option value="Azcapotzalco">Azcapotzalco</option>
        <option value="Benito Juarez">Benito Juarez</option>
        <option value="Coyoacan">Coyoacan</option>
      </select>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        Selecciona una Alcaldía o Municipio válida.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Unidad Academica</label>
      <select class="form-select" id="validationCustom04" name="unidad_academica" required>
        <option selected disabled value="">Elige...</option>
        {% for ua in unidades_academicas %}
          {% with ua.id_ua as mi_variable %}
            <option value="{{ ua.id_ua }}">{{ ua.nombre }}</option>
          
        {% endfor %}
      </select>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        Selecciona una Unidad Académica válida.
      </div>
    </div>

    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Programa Academico</label>
      <select class="form-select" id="validationCustom04" name="programa_academico" required>
        <option selected disabled value="">Elige...</option>
        <option value="{{ mi_variable }}">{{ mi_variable }}</option>
      </select>
      <div class="valid-feedback">
        ¡Bien!.
      </div>
      <div class="invalid-feedback">
        Selecciona un Programa Academico válido.
      </div>
    </div>



    {% endwith %}
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Acepta los términos y condiciones
        </label>
        <div class="invalid-feedback">
          Debe estar de acuerdo antes de enviar.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Enviar formulario</button>
    </div>
  </form>
  <script>
    // Ejemplo de JavaScript inicial para deshabilitar el envío de formularios si hay campos no válidos
(function () {
  'use strict'

  // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
  var forms = document.querySelectorAll('.needs-validation')

  // Bucle sobre ellos y evitar el envío
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
  </script>
    
{% endblock body %}
    