{% extends 'footerAndHeader.html' %}

{% block body %}


<div class="container">
    <div class="row justify-content-center">
        {% for cuestionario in cuestionarios %}
            <div class="col-12 col-sm-6 col-md-4 py-3">
                <div class="card" style="width: 18rem; margin: 100px 0;">
                    <img src="https://unsplash.it/600/400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{cuestionario.nombre}}</h5>
                        <p class="card-text">{{cuestionario.descripcion}}</p>
                        <a href="#" class="btn btn-primary">Responder</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




    

{% endblock body %}