.body {

}

.contenedorPrincipal {
    height: 2800px;
}

.cuestionarioTransversal {
    height: 1880px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
  }

#CuestionarioTransversal {
    background-color: gray;
    width: 80%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
}


.preguntaDiv {
    border: 1px solid red;
    width: 90%;
    text-align: center;
    display: block;
}

.preguntaLabel {
    width: 100%;
    padding: 10px;
}

.preguntaRespuestas {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

.preguntaRespuestasv2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
}

.anexo {
    margin-top: 10px;
}

.preguntaLabel label, .preguntaRespuestas label, .preguntaRespuestasv2 label, .anexo label {
    font-size: 18px;
}

.preguntaRespuestas select, .preguntaRespuestasv2 select, .anexo input {
    font-size: 16px;
}

.preguntaRespuestas select, .preguntaRespuestasv2 select, .anexo input{
    width: 700px;
}

