.body {

}



.cuestionarioTransversal {
    height: 3200px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
  }

#CuestionarioTransversal {
    width: 80%;
    height: 3200px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
}


.preguntaDiv {
    width: 90%;
    text-align: center;
    display: block;
}

.preguntaDivButton {
    width: 90%;
    text-align: center;
    display: block;
    padding-top: 80px;
}

.preguntaLabel {
    width: 100%;
    padding: 10px;
}

.preguntaRespuestas {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

.preguntaRespuestasv2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
}

.anexo {
    margin-top: 10px;
}

.preguntaLabel label, .preguntaRespuestas label, .preguntaRespuestasv2 label, .anexo label, .preguntaDiv p, .tablaCompetencias thead, .tablaCompetencias tbody, .tablaEstudios thead, .tablaEstudios tbody{
    font-size: 18px;
}

.preguntaRespuestas select, .preguntaRespuestasv2 select, .anexo input, .preguntaRespuestas input {
    font-size: 16px;
}

.preguntaRespuestas select, .preguntaRespuestasv2 select, .anexo input, .preguntaRespuestas input, .preguntaRespuestas p{
    width: 700px;
}

.parrafo {
    border: 1px solid blue;
}

/* Estilos de la tabla de competencias */

.tablaCompetencias, .tablaEstudios{
    margin: 0 auto;
    border-collapse: collapse;
    width: 1300px;
}

.tablaCompetencias th, .tablaCompetencias td, .tablaEstudios th, .tablaEstudios td {
    padding: 8px; /* Añade un poco de espacio entre el contenido y el borde */

}

.Competencias, .Estudios{
    width: 500px;
}

.Valores{
    width: 100px;
}

.Valores2{
    width: 100px;
}
