.back-color {
    background-color: #682444;
}

.footerTitulo {
    font-size: 17px;
}

.margen-x {
    margin-left: 350px;
    margin-right: 350px;
}

.footerEspacio {
    display: block;
    width: 100%;
    height: 25px;
    background-color: white;
    
}

.back-footer-color {
    background-color: #EAEAEA;
}

.img-gob-footer {
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

table tr td a, table tr td p{
    font-size: 13px;
}

table tr td a{
    color: black;
}

table tr td a:hover{
    color: black;
    text-decoration: underline black;
}
